<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="E:\SVSU\C_SHARP_PRACTICE\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name="Tournaments" connectionString="Server=DESKTOP-MDCKH53;
         Database=Tournaments;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>